<div class="wrapper">
  <hr id="line1">
  <hr id="line2">
  <div class="card-wrapper" [ngClass]="{'show' : cards, 'wrapper-hidden' : !cards }">
    <div class="row">
      <div class="skill-card">
        <div class="front">
          <div class="card-img" id="card1"></div>
        </div>
        <div class="back">
          Java was my first love. In a period of 12 months of INTENSIVE learning
          I really had a grip over it, made some cool stuff, but sadly never got a chance to work with
          it profesionally so I kinda lost track of it..
        </div>
      </div>
      <div class="skill-card">
        <div class="front">
          <div class="card-img" id="card2"></div>
        </div>
        <div class="back">
          Love of my life. Met her 3 years ago when I was working on my first web app with my friends.
          Shifting to it from Java wasn't that hard. Started with some simple tutorials and making
          validations on forms. Since then I decided to never let her go.
        </div>
      </div>
      <div class="skill-card">
        <div class="front">
          <div class="card-img" id="card3"></div>
        </div>
        <div class="back">
          When I discovered Node and the fact that I will be able to work both on front-end and back-end
          with the same language made me so happy. Been working with it since october of 2017 to the present.
          Using expressjs and feathersjs.
        </div>
      </div>
      <div class="skill-card">
        <div class="front">
          <div class="card-img" id="card4"></div>
        </div>
        <div class="back">
          I started using PostgreSQL as part of the stack of my current/first job. Haven't used it before that.
          Working with it for about 14 months already and love it.
        </div>
      </div>
      <div class="skill-card">
        <div class="front">
          <div class="card-img" id="card5"></div>
        </div>
        <div class="back">
          MySql was first database I ever used. It was used in developing of my first web app with friends.
          Pretty simple and straight forward to use.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="skill-card">
        <div class="front">
          <div class="card-img" id="card6"></div>
        </div>
        <div class="back">
          Started learning AngularJS back in 2016 for a couple of months then shifted to Angular 2+. School kinda got
          in the way so
          I was learning it passively till I got my first job in october of 2017. Working with it ever since
          and love every bit of it.
        </div>
      </div>
      <div class="skill-card">
        <div class="front">
          <div class="card-img" id="card7"></div>
        </div>
        <div class="back">
          Started off learning it on my first web app. We needed front-end developer, so I volunteered.
          Got over codeschool course and as the development of app keept progressed so was my knowledge.
          About 3 years of working with it.
        </div>
      </div>
      <div class="skill-card">
        <div class="front">
          <div class="card-img" id="card8"></div>
        </div>
        <div class="back">
          Started off codeschool course alongside of HTML. About 3 years of working with it. Familiar with
          mobile/desktop first design, media queries and responsive design. Transformation,
          transition, web browser compatibilities and more.
        </div>
      </div>
      <div class="skill-card">
        <div class="front">
          <div class="card-img" id="card9"></div>
        </div>
        <div class="back">
          Needed a while to make myself shift from CSS to SCSS, cause I didn't feel any need to. I've been working
          with it for the last few months and love it. Familiar with variables, operators, nesting, partials, imports,
          mixins and extending/inheritance.
        </div>
      </div>
      <div class="skill-card">
        <div class="front">
          <div class="card-img" id="card10"></div>
        </div>
        <div class="back">
          I started using it couple of weeks after starting HTML and CSS learning. It was big strougle and
          very confusing at start, but few weeks later I got hold of it. Using it since then, for about 3
          years.
        </div>
      </div>
    </div>
  </div>
  <div class="experience-wrapper" [ngClass]="{'show' : !cards, 'wrapper-hidden' : cards }">
    <div class="row">
      <div class="images">
      </div>
      <div class="text">
        <span class="title lightblue">Linksoft - startup</span><span class="experience">10.2017 - present (about 15
          months)
        </span>
        <br>
        <span class="lightblue">Position: </span><span class="position">Full-stack Javascript Developer</span><br>
        <span class="lightblue">Stack: </span><span class="stack">HTML, SASS, Bootstrap, CoreUI, Angular 2+, NodeJS,
          ExpressJS, FeathersJS,
          PostgreSQL, Jenkins, Docker, Git</span>
        <p class="description">
          This is my first job as developer. Working as full-stack javascript developer. Very thankfull for
          this opportunity, cause these guys gave me chance even tho I was facing some of technologies for the
          first time (SASS, CoreUI, Feathers, Postgresql, Docker, Jenkins). I've learned a lot about this whole
          stack for the time I worked on this project. Faced many not so simple tasks, as: Making facebooklike
          chat using SocketIO; File uploading, deleting, converting; Emailing service using Node IMAP; OAuth;
          ONLYOFFICE; Implementation of TWAIN and scanning; Switching app from eager loading to lazy loading
          and a lot, lot, more..
          <a href="http://linkos.linksoft.ba" target="_blank">[link 1]</a> <a href="http://linkos.fuzip.gov.ba" target="_blank">[link 2]</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="images">
      </div>
      <div class="text">
        <span class="title lightblue">BitBay - replica of eBay</span><span class="experience">Just for sake of
          learning (3 months  in 2015)</span>
        <br>
        <span class="lightblue">Position: </span><span class="position">Front-end Developer</span><br>
        <span class="lightblue">Stack: </span><span class="stack">HTML, CSS, Javascript, jQuery, jQueryUI, Bootstrap,
          Scala, Java, Play, MySQL, Git</span>
        <p class="description">
          This was idea of webapp like ebay. I worked on front-end part alone in a team made of my friends just for 
          sake of learning. Facing all technologies for the first time, except Java. I got used to HTML, CSS and
          Javascript pretty quickly, but it wasn't easy to face all of this new stuff for the first time,
          including MVC, REST, OOP, Git, Bootstrap, responsive design and more. But we persisted and
          after 3 months of intensive work we got decent app. When I say intensive I really mean it,
          there were times when we didn't sleep for 48h, cause we made ourselves Agile environment with
          sprints, deadlines and all.
          <a href="https://github.com/adiscehajic/bitbay" target="_blank">[Github link]</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="images">
      </div>
      <div class="text">
        <span class="title lightblue">Minesweeper</span><span class="experience">Just for sake of
            learning (week in 2015)</span>
        <br>
        <span class="lightblue">Position: </span><span class="position">Software developer</span><br>
        <span class="lightblue">Stack: </span><span class="stack">Java</span>
        <p class="description">
          Replica of well known Windows game Minesweeper. Made it in a week, after just month of intensive
          learning of Java and programming overall. Whole code is messy and all bundled up in one class but
          it made me so proud cause for the first time I actually saw the results of intensive and exhausting
          learning. This is the time I actually started believeing in myself, that I can become a developer
          and actually achieve something with the programming.
          <a href="https://github.com/kerimdragolj/Minesweeper" target="_blank">[Github link]</a>
          <a href="https://drive.google.com/file/d/0B01JQIvhkjlcYWwwTTE0bzJVaVU/view?usp=sharing" target="_blank">[Jar / Executable app]</a> 
        </p>
      </div>
    </div>
  </div>
  <div class="button-row">
    <button class="primary" (click)="cards = !cards">
      <span *ngIf="!cards" id="skills-span">Skills</span>
      <span *ngIf="cards">Experience</span>
    </button>
  </div>
</div>