<canvas id="canvas" style="position: fixed; z-index: -1;"></canvas>
<div class="wrapper">
    <div class="image"></div>
    <div class="name"></div>
    <div class="text">Transmision incoming...</div>
    <div class="buttons">
        <button class="primary-dark-o hireme" [routerLink]="['/hireme']">Hire me</button>
        <button class="primary-dark-o feedback">Leave feedback</button>
    </div>
    <span class="fas fa-envelope-square"></span>
    <span class="fab fa-skype"></span>
    <span class="fab fa-github"></span>
    <span class="fab fa-linkedin"></span>
    <span class="fab fa-facebook"></span>
    <span class="fab fa-steam-square"></span>
</div>
